*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.form-contact{
    background-color: gray;
    backdrop-filter: blur(10px);
    width: 350px;
    padding: 30px;
    margin: auto;
    margin-top: 50px; 
    color: white;
}
#consulta{
    width: 100%;
    height: 90px;
}
.botons{
    background-color: black;
}
.form-contact h4{
    color: black;
font-size: 20px;
margin-bottom: 15px;
padding-left: 5%;
}
.form-contact .botons{
    width: 100%;
    padding: 7px;
    margin-top: 10px;
}
.controls{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid black;
    color: black;
}
.controls-consullt{
    width: 100%;
    padding: 35px;
    border-radius: 4px;
    margin-bottom: 5px;
    color: black;
    padding-left: 3%;
    padding-right: 9px;
    padding-top: 3%;
}
body{
    background-color: #fff; 
}
.texto{
    width: 100%;
    text-align: left;
    margin: 0% auto;
    border: 1px solid black;
}
.Biografia{
    background-color: rgb(61, 61, 61);
    margin: 25px;
    padding: 8% ;
}
.Biografia p{
    text-decoration: none;
}
header{
    background: rgb(61, 61, 61);
    text-align: center;
    color: steelblue;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
    display: flex;
}
nav{
    height: 50px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
}
.enlace{
    color: black;
    font-size: 95%;
}
img{
    float: right;
}
p{
    color: rgb(255, 255, 255);
}
h2{
color: whitesmoke;
}
a{
    text-decoration: black;
    color: #ffffff53;
}
a:hover{
    text-decoration: underline;
}

.controles{
    display: flex;
    align-items: center;
    width: 100%;
}

.container-carousel {
    margin-left: 20px;
    position: relative;
    width: 700px;
    height: 500px;
    background-color: #e0e0e0;
    overflow: hidden;
}
.carruseles{
    width: 400%;
    height: 100%;
    display: flex;
}
.carrusel-section{
    width: calc(100% / 4);
    height: 100%;
}
.carrusel-section img {
    width: 100%;
    height: 100%;
}
.boton-left,
.boton-right {
    height: 30px;
    display: flex;
    position: absolute;
    top: 50%;
    background-color: transparent;
    border-radius: 150%;
    cursor: pointer;
    color: #ffffff81;
}

.boton-left {   
    left: 10px;
    transform:rotate(180deg)
}
.boton-right {
    right: 10px;
}
.contenedor_1{
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    display: flex;
}
.error{
    border: red 2px solid;
}
.final{
    text-align: center;
    background: gray;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    margin-top: 25px; 
    color: white;
}
